body {
    background-color: #121212;
}

h1 {
    color: white;
}

option {
    background-color: black;
}

#aviso {
    color: white;
    background-color: gray;
}

#cameraBackground {
    background-color: rgba(255, 255, 255, 0.05);
}

.optionsConteiner {
    background-color: rgba(255, 255, 255, 0.05);
}

.optionEntry {
    color: white;

}