/* paleta de cores tema branco */
:root{
    /* cores principais */
    --color1: #3B9BE5; /* cor principal - titulos/destaques*/
    --color2: #1A1A1A;
    --color3: #00032E; 
    --color4: #011B89; /* cor para fundo */ 
    /* cores sombra */
    --color5: #0F283B;
}

body {
    background-color: var(--color2);
}

input,
select,
option {
    background-color: var(--color1);
    color: white
}

header.headerContainer {
    background-color: var(--color3);
}

header.headerContainer h1 {
    color: white;
}

div.containerLogo span{
    color: var(--color1);
}

.time {
    text-shadow: -2px 4px 8px #575757;
    color: white;
}

#aviso {
    color: white;
    background-color: gray;
}

#cameraBackground {
    background-color: var(--color3);
    box-shadow: 0 20px 25px -5px var(--color5), 0 10px 10px -5px var(--color5);
}

.optionsConteiner {
    background-color: var(--color3);
    box-shadow: 0 20px 25px -5px var(--color5), 0 10px 10px -5px var(--color5);
}

.optionEntry {
    background-color: var(--color3);
    color: white;
}

#sendIcon {
    border: 2px solid white;
    background-color: var(--color1);
}

#sendIcon::before {
    background-image: linear-gradient(to right, var(--color4) 0%, var(--color4) 100%);
}

#sendIcon svg path {
    fill: white;
}

input#newMember {
    border: 2px solid white;
}

input#newMember:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--color4);
}

.ponto {
    border: 1px solid var(--color1);
}

.ponto .nome {
    color: greenyellow;
}

.ponto .data {
    color: aqua;
}