/* importando a fonte 'Raleway' e 'Gravicon' */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'); /* Para navegadores modernos */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gravicon';
    src: url('../fonts/GraviconDisplay.woff2') format('woff2'),
        url('../fonts/GraviconDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


/* remocao das bordas e margens padroes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* fonte padrao para todo o sistema */
body {
    font-family: 'Montserrat', sans-serif;
}

#logoRooster {
    font-family: 'Gravicon';
    font-weight: normal;
    font-style: normal;
}

header.headerContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

header.headerContainer h1 {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 0;
}

div.containerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
    gap: 10px;
}

div.containerLogo img {
    width: 135px;
}

div.containerLogo span {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}

.time {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 1.5rem auto;
    padding: 10px 2rem;
    width: fit-content;
}

.time .hours {
    font-size: 150px;
}

.time .seconds {
    font-size: 50px;
}

input,
select {
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    border: none;
}

body {
    height: 100vh;
}

label {
    margin-right: 5px;
}

@font-face {
    font-family: 'Gravicon';
    src: url('GraviconRegular.woff2') format('woff2'),
        url('GraviconRegular.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}



#intro {
    font-family: 'Gravicon';
}

#aviso {
    position: sticky;
    top: 0px;
}

#cameraConteiner,
#optionsAligner {
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#versions {
    color: red;
    font-size: 16px;
    text-transform: lowercase;
    margin-left: 1rem;
}

#pontoList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 205px;
    gap: 5px;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    margin: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

.ponto {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.nome,
.data,
.hora {
    margin-right: 5px;
}

.optionsConteiner {
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.optionsConteiner:hover {
    transform: scale(1.05);
}

#cameraBackground {
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#cameraOutput {
    border-radius: 5px;
    width: 100%;
}

#loadingGif {
    width: 10%;
}

#sendIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 3em;
    cursor: pointer;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#sendIcon::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: -4px;
    left: -1px;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
#sendIcon:hover::before {
    width: 9em;
}

#sendIcon svg {
    width: 32px;
    height: 32px;
}

#sendIcon svg path {
    transition: .5s ease;
}

.optionEntry {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionEntry label {
    font-size: 16px;
    text-transform: uppercase;
}

input#newMember {
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px 25px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 0.5s;
    border-radius: 5px;
}
  
input#newMember:active {
    transform: scale(0.9);

#agradecimentos {
    color: white;
}

#agradecimentos ul {
    list-style: none;
}

.contentConteiner {
    background-color: rgba(255, 255, 255, 0.212);
    margin: 10%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.perfilConteiner {
    margin: 10px;
    outline: white 1px solid;
}

.perfilBio {
    width: 300px;
}

.bioNome {
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
}

.bioTexto {
    padding: 10px;
    color: rgb(0, 0, 0);

}

.perfilImg {
    width: 300px;
}

.bioContato {
    color: black;
}

.bioContato ul {
    list-style: none;
}