input,
select {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.281);
    color: white;
    font-weight: bold;
    width: 100%;
}

label {
    margin-right: 5px;
}

#cameraConteiner,
#optionsAligner {
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    justify-content: center;
}

#versions {
    color: red;
}

#pontoList {
    overflow-y: auto;
    overflow-x: hidden;
    height: 125px;
    color: white
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    margin: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

.ponto {
    padding: 5px;
    border: 1px solid white;
    margin: 3px;
    display: flex;
    justify-content: space-between;

}

.nome,
.data,
.hora {
    margin-right: 5px;
}

.data {
    color: aqua
}

.nome {
    color: greenyellow
}

.optionsConteiner {
    padding: 10px;
    border-radius: 2em;
    margin: 5px;
}

#cameraBackground {

    padding: 15px;
    border-radius: 2em;
    display: flex;
    justify-content: center;
}

#cameraOutput {
    border-radius: 2em;
    width: 100%;
}

#loadingGif {
    width: 10%;
}



#sendIcon {
    border-radius: 45%;
    background-color: rgba(255, 255, 255, 0.37);
    padding: 10px;
}

#sendIcon img {
    width: 25px;
}

.optionEntry {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}