input,
select {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.281);
    color: white;
    font-weight: bold;
    width: 100%;
}

label {
    margin-right: 5px;
}

#cameraConteiner,
#optionsAligner {
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    justify-content: center;
}

#versions {
    color: red;
}

#optionsConteiner {
    padding: 15px;
    border-radius: 2em;
}

#cameraBackground {

    padding: 15px;
    border-radius: 2em;
    display: flex;
    justify-content: center;
}

#cameraOutput {
    border-radius: 2em;
    width: 100%;
}

#loadingGif {
    width: 10%;
}



#sendIcon {
    border-radius: 45%;
    background-color: rgba(255, 255, 255, 0.37);
    padding: 10px;
}

#sendIcon img {
    width: 25px;
}

.optionEntry {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}